* {
  font-family: Lato;
}

table {
  border: solid black 1px;
}

th {
  width: 75px;
  border: solid black 1px;
}

td {
  text-align: center;
  height: 50px;
  border: solid black 1px;
}
li {
  font-size: 14px;
  font-family: Verdana;
}
